.components.SettingForAccount {
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
  > ul {
    position: relative;
    overflow: hidden;
    > li {
      position: relative;
      overflow: hidden;
      border-top: 5px solid #222;
      &:first-child {
        border-top: none;
      }
      > span {
        display: block;
        font-size: 14px;
        line-height: 52px;
        font-weight: bold;
        color: #fff;
        text-indent: 20px;
        border-bottom: 1px solid #222;
      }
      > div {
        position: relative;
        overflow: hidden;
        > a {
          position: relative;
          overflow: hidden;
          border-bottom: 1px solid #222;
          align-items: center;
          padding: 5px 0;
          user-select: none;
          &:hover {
            background: #444;
          }
          > div {
            position: relative;
            overflow: hidden;
            > span {
              display: block;
              font-size: 13px;
              color: #999;
              line-height: 20px;
              text-indent: 20px;
              &:first-child {
                font-size: 14px;
                color: #fff;
              }
              &:only-child {
                line-height: 50px;
              }
            }
          }
          > i {
            font-size: 18px;
            color: #999;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
