.components.MessageForComment {
  position: relative;
  overflow: visible;
  > nav {
    background: #222;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    > a {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      line-height: 40px;
      margin-left: 20px;
      position: relative;
      user-select: none;
      &.active {
        color: #e2041b;
      }
    }
  }
  > ul {
    position: relative;
    overflow: visible;
    > li {
      position: relative;
      overflow: visible;
      background: #222;
      margin-top: 10px;
      align-items: flex-start;
      padding: 10px;
      > .flex-item {
        position: relative;
        overflow: visible;
        align-items: flex-start;
        > .Icon {
          width: 48px;
          position: relative;
          margin-right: 10px;
          > a {
            width: 100%;
            display: block;
            padding-bottom: 100%;
            border-radius: 100%;
            background: #333;
            position: relative;
            overflow: hidden;
          }
        }
        > .flex-item {
          position: relative;
          overflow: visible;
          > div {
            position: relative;
            overflow: visible;
            > .Top {
              font-size: 0;
              white-space: nowrap;
              > * {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                color: #999;
                line-height: 20px;
                margin-left: 10px;
                &:first-child {
                  margin-left: 0;
                }
              }
              > a {
                font-weight: bold;
                color: #fff;
              }
            }
            > span {
              display: block;
              font-size: 14px;
              color: #999;
              line-height: 1.5;
              margin-top: 5px;
            }
            > .Time {
              font-size: 0;
              white-space: nowrap;
              margin-top: 5px;
              > * {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                color: #999;
                line-height: 1.5;
                margin-left: 20px;
                &:first-child {
                  margin-left: 0;
                }
              }
              > a {
                user-select: none;
                &:hover {
                  color: #e2041b;
                }
              }
            }
            > .ReplyArea {
              position: relative;
              overflow: visible;
              margin-top: 10px;
              > textarea {
                width: calc(100% - 20px);
                padding: 10px;
                background: #111;
                color: #fff;
                font-size: 14px;
                line-height: 1.5;
              }
              > div {
                align-items: center;
                position: relative;
                overflow: visible;
                margin-top: 5px;
                > a {
                  &:nth-child(1) {
                    position: relative;
                    overflow: visible;
                    &:hover {
                      > i {
                        color: #fff;
                      }
                      > div {
                        display: block;
                      }
                    }
                    > i {
                      font-size: 20px;
                      color: #999;
                      user-select: none;
                    }
                    > div {
                      position: absolute;
                      left: 10px;
                      top: 15px;
                      display: none;
                    }
                  }
                  &:last-child {
                    font-size: 12px;
                    color: #fff;
                    background: #e2041b;
                    line-height: 26px;
                    border-radius: 2px;
                    width: 74px;
                    text-align: center;
                    user-select: none;
                  }
                }
              }
            }
          }
        }
      }
      > .ParentTarget {
        width: 30%;
        position: relative;
        overflow: hidden;
        margin-left: 20px;
        > span {
          font-size: 12px;
          color: #fff;
          line-height: 1.5;
          display: block;
          word-break: break-all;
        }
        > .Img {
          width: 100%;
          position: relative;
          overflow: hidden;
          > img {
            display: block;
            z-index: 1;
            position: relative;
          }
          > a {
            z-index: 2;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 100%;
            font-size: 20px;
            background: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
  >.NextPage {
    text-align: center;
    padding: 20px 0;
  }
}
