.components.UserForMyVideoFavoritesList {
  > .AddClass {
    width: 100%;
    display: block;
    font-size: 0;
    white-space: nowrap;
    &:hover {
      background: #222;
    }
    > * {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      line-height: 40px;
      color: #fff;
      text-indent: 10px;
    }
    > i {
      font-size: 20px;
      margin-left: 10px;
    }
  }
  > .FavoritesList {
    width: 100%;
    position: relative;
    overflow: visible;
    > li {
      align-items: center;
      position: relative;
      overflow: visible;
      z-index: 1;
      &:hover {
        background: #222;
        cursor: pointer;
        > i:nth-child(4) {
          display: inline-block;
          &:hover {
            & + div {
              display: block;
            }
          }
        }
        > span {
          &.Num {
            display: none;
          }
        }
      }
      &.active {
        background: #e2041b;
        > i:first-child {
          display: none;
        }
        > i:nth-child(2) {
          display: inline-block;
        }
        &:hover {
          background: #e2041b;
        }
      }
      > * {
        margin-left: 10px;
      }
      > i {
        font-size: 22px;
        display: none;
        line-height: 40px;
        &:first-child {
          display: inline-block;
        }
        &:nth-child(4) {
          margin-right: 10px;
        }
      }
      > span {
        font-size: 14px;
        line-height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.Num {
          margin-right: 18px;
        }
      }
      > .Tips {
        display: none;
        position: absolute;
        width: 78px;
        background: #1d1d1d;
        overflow: visible;
        right: 4px;
        bottom: -52px;
        border-radius: 3px;
        z-index: 2;
        &::after {
          content: "";
          width: 0;
          height: 0;
          display: block;
          position: absolute;
          right: 10px;
          top: -15px;
          border-style: solid solid dashed solid;
          border-width: 8px;
          border-color: transparent transparent #1d1d1d transparent;
        }
        &:hover {
          display: block;
        }
        > a {
          width: 100%;
          display: block;
          text-align: center;
          line-height: 26px;
          font-size: 12px;
          border-top: 1px solid #333;
          position: relative;
          z-index: 3;
          &:first-child {
            border-top: none;
            border-radius: 3px 3px 0 0;
          }
          &:hover {
            background: #e2041b;
          }
          &:last-child {
            border-radius: 0 0 3px 3px;
          }
        }
      }
    }
  }
  .EditFolderPopupContent {
    > .Title {
      font-size: 0;
      white-space: nowrap;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
      > span {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #999;
        line-height: 20px;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    > .Form {
      border: 2px solid #333;
      box-sizing: border-box;
      padding: 10px 0;
      border-radius: 3px;
      margin-top: 10px;
      margin-bottom: 10px;
      align-items: center;
      > input {
        line-height: 20px;
        font-size: 14px;
        color: #999;
        background: none;
        text-indent: 10px;
      }
      > span {
        margin: 0 10px;
        font-size: 14px;
        color: #999;
      }
    }
    > .Bottom {
      margin-top: 30px;
      align-items: center;
      > a {
        margin-left: 20px;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        background: #e2041b;
        border-radius: 5px;
        &:first-child {
          margin-left: 0;
          background: #999;
        }
      }
    }
  }
  .DeleteFolderPopupContent {
    > span {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 14px;
      color: #999;
      line-height: 20px;
      > b {
        color: #e2041b;
        font-size: 14px;
        line-height: 20px;
        text-decoration: underline;
      }
    }
  }
}
