.components.SearchForVideo {
  > .Top {
    position: relative;
    overflow: visible;
    margin-top: 20px;
    align-items: center;
    z-index: 10;
    > span {
      font-size: 28px;
      font-weight: bold;
      line-height: 40px;
    }
    > a {
      font-size: 0;
      position: relative;
      overflow: visible;
      white-space: nowrap;
      user-select: none;
      &:hover {
        >ul {
          display: block;
        }
      }
      > * {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #999;
        line-height: 40px;
      }
      > i {
        font-size: 20px;
        margin-right: 10px;
      }
      > ul {
        width: 150px;
        position: absolute;
        top: 40px;
        background: #333;
        right: 0;
        display: none;
        > li {
          font-size: 14px;
          line-height: 40px;
          border-top: 1px solid #222;
          text-indent: 20px;
          color: #999;
          &:hover {
            color: #fff;
            background: #222;
          }
        }
      }
    }
  }
  .ClassVideoList {
    margin-top: 20px;
    align-items: flex-start;
    .ClassRight {
      width: 200px;
      margin-left: 20px;
      > div {
        align-items: center;
        margin-top: 20px;
        span {
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
        }
        a {
          font-size: 14px;
          color: #888;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
      .RelatedUsers {
        margin-bottom: 40px;
        > li {
          align-items: center;
          margin-top: 10px;
          > a {
            width: 36px;
            display: block;
            height: 36px;
            position: relative;
            overflow: hidden;
            border-radius: 100%;
            margin-right: 10px;
            background: #333;
          }
          > div {
            > * {
              width: 100%;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 20px;
              font-size: 12px;
              color: #888;
            }
            > a {
              color: #fff;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .PopSearch {
        > li {
          align-items: center;
          margin-top: 10px;
          span {
            font-size: 10px;
            width: 16px;
            line-height: 16px;
            text-align: center;
            background: #888;
            color: #fff;
            border-radius: 3px;
          }
          &:nth-child(1) {
            span {
              background-color: #e2041b;
            }
          }
          &:nth-child(2) {
            span {
              background-color: #04B32D;
            }
          }
          &:nth-child(3) {
            span {
              background-color: #BE8409;
            }
          }
          a {
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
