.components.IndexPlayList {
  > .flex-h {
    align-items: center;
    > .Title {
      font-size: 20px;
      line-height: 40px;
      color: #fff;
    }
    > nav {
      font-size: 0;
      white-space: nowrap;
      > a {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        line-height: 20px;
        padding: 0 10px;
        color: #999;
        background: #222;
        border-radius: 3px;
        margin-left: 15px;
        margin-top: 5px;
        user-select: none;
        &:hover,
        &.active {
          background: #e2041b;
          color: #fff;
        }
      }
    }
    > a {
      font-size: 14px;
      line-height: 24px;
      padding: 0 10px;
      color: #999;
      border-radius: 3px;
      box-sizing: border-box;
      border: 1px solid #fff;
      border-color: transparent;
      margin-left: 15px;
      margin-top: 5px;
      user-select: none;
      font-weight: bold;
      &:hover,
      &.active {
        color: #fff;
        border-color: #999;
      }
    }
  }
  > ul {
    font-size: 0;
    position: relative;
    overflow: visible;
    > li {
      display: inline-block;
      vertical-align: middle;
      width: calc((100% - 40px) / 5);
      position: relative;
      overflow: visible;
      margin-top: 20px;
      margin-left: 10px;
      &:nth-child(5n + 1) {
        margin-left: 0;
      }
      > a.Img {
        width: 100%;
        display: block;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
        background: #333;
        &:hover {
          cursor: default;
          > div.Layer {
            display: none;
          }
          > .PlayAll {
            display: block;
          }
        }
        > div.Layer {
          width: 40%;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
          z-index: 2;
          > div {
            width: 100%;
            text-align: center;
            > span {
              font-size: 16px;
              width: 100%;
              display: block;
              text-align: center;
              line-height: 20px;
              color: #fff;
              // font-weight: bold;
            }
            > i {
              font-size: 30px;
              margin-top: 15px;
            }
          }
        }
        > .PlayAll {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          z-index: 3;
          background: rgba(0, 0, 0, 0.7);
          display: none;
          > a.Bg {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 1;
          }
          > a.centerLabel {
            display: inline-block;
            white-space: nowrap;
            font-size: 0;
            padding: 0 20px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 40px;
            z-index: 2;
            &:hover {
              background: #e2041b;
            }
            > i {
              font-size: 20px;
              vertical-align: middle;
            }
            > span {
              font-size: 14px;
              line-height: 40px;
              vertical-align: middle;
              margin-left: 10px;
              font-weight: bold;
            }
          }
        }
      }
      > div {
        height: 90px;
        position: relative;
        overflow: visible;
        > .Title {
          align-items: flex-end;
          margin-top: 8px;
          position: relative;
          &:hover {
            > a {
              &:nth-child(2) {
                display: inline-block;
              }
            }
            > span {
              display: none;
            }
          }
          > a {
            &:nth-child(1) {
              font-size: 16px;
              color: #fff;
              line-height: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              word-break: break-all;
            }
            &:nth-child(2) {
              color: #999;
              margin-left: 3px;
              line-height: 20px;
              display: none;
              position: relative;
              overflow: visible;
              &:hover {
                color: #fff;
                // > .Tips {
                //   display: block;
                // }
              }
            }
          }
          > .Tips {
            width: 160px;
            background: #222;
            position: absolute;
            right: -145px;
            bottom: -48px;
            display: none;
            &.Left {
              right: 0;
              &::after {
                content: "";
                width: 0;
                height: 0;
                border-color: transparent transparent #222 transparent;
                border-style: solid solid dashed solid;
                border-width: 8px;
                display: block;
                position: absolute;
                left: auto;
                right: 0;
                top: -16px;
              }
            }
            &::after {
              content: "";
              width: 0;
              height: 0;
              border-color: transparent transparent #222 transparent;
              border-style: solid solid dashed solid;
              border-width: 8px;
              display: block;
              position: absolute;
              left: 0;
              top: -16px;
            }
            > a {
              width: 100%;
              border-top: 1px solid #333;
              user-select: none;
              &:hover {
                background: #e2041b;
              }
              &:first-child {
                border: none;
              }
              > * {
                font-size: 14px;
                color: #fff;
                line-height: 40px;
                text-indent: 10px;
              }
              > i {
                font-size: 20px;
              }
            }
          }
          > span {
            width: 16px;
            display: inline-block;
            height: 20px;
          }
        }
        > a {
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 16px;
          color: #999;
          line-height: 20px;
          margin-top: 5px;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
        > span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 16px;
          color: #999;
          line-height: 20px;
          margin-top: 5px;
        }
      }
    }
  }
}
