.components.NewVideoPlayerList {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid #333;
  > .Title {
    padding: 5px 10px 0;
    position: relative;
    overflow: hidden;
    background: #333;
    max-height: 20px;
    min-height: 20px;
    > span {
      overflow: hidden;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
      font-size: 16px;
      color: #fff;
      line-height: 20px;
    }
  }
  > .SubInfo {
    font-size: 0;
    white-space: nowrap;
    padding-top: 5px;
    background: #333;
    > * {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #999;
      line-height: 20px;
      margin-left: 20px;
      &:first-child {
        margin-left: 10px;
      }
    }
    > a {
      &:hover {
        color: #fff;
      }
    }
  }
  > .MoreSet {
    align-items: center;
    padding: 5px 10px;
    background: #333;
    min-height: 26px;
    > a {
      color: #999;
      font-size: 22px;
      user-select: none;
      margin-left: 10px;
      line-height: 26px;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: #fff;
      }
    }
  }
  > .ListContainer {
    position: relative;
    overflow: hidden;
    > .HideListDom {
      position: relative;
      z-index: 1;
      > div {
        position: relative;
        overflow: hidden;
        padding: 5px 10px;
        > div {
          width: 145px;
          position: relative;
          overflow: hidden;
          > div {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
          }
        }
      }
    }
    > .ShowListDom {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      overflow: hidden;
      > div {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
      }
    }
    ul {
      > li {
        padding: 5px 10px 5px 0;
        position: relative;
        overflow: visible;
        align-items: center;
        &:hover {
          background: #191919;
        }
        &.active {
          background: #222;
        }
        > span {
          font-size: 14px;
          text-align: center;
          width: 20px;
          color: #999;
        }
      }
    }
  }
}
