#app {
  background: #111;
  .PlayPageContainer {
    width: calc(100% - 200px);
    min-width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 69px;
    position: relative;
    overflow: visible;
    > .WatchLaterContainer {
      margin-top: 20px;
    }
    .PlayerContainer {
      margin-top: 30px;
      overflow: visible;
      background: #242424;
      z-index: 2;
      > .flex-item {
        overflow: visible;
        .PlayerArea {
          width: 100%;
          padding-bottom: 56.25%;
          position: relative;
          overflow: visible;
          background: #666;
          > div {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            overflow: visible;
            > div {
              &.PlayerBorder {
                width: 100%;
                height: 100%;
                position: static;
                overflow: hidden;
                background: #666;
                &.active {
                  width: 400px;
                  height: 225px;
                  position: fixed;
                  right: 18px;
                  bottom: calc(100% - 225px - 68px);
                  z-index: 1000;
                  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
                }
                &.IsFullWindow {
                  position: fixed;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  z-index: 10000;
                }
              }
              &.IsPrivacy {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                background: rgba(0, 0, 0, 0.6);
                > div {
                  text-align: center;
                  > i {
                    font-size: 60px;
                    color: #999;
                  }
                  > span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #999;
                    line-height: 30px;
                    display: block;
                  }
                }
              }
              &.IsFree {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                > img {
                  z-index: 1;
                }
                > .Layer {
                  width: 300px;
                  background: rgba(0, 0, 0, 0.8);
                  right: -300px;
                  top: 0;
                  position: absolute;
                  z-index: 10;
                  overflow: visible;
                  bottom: 0;
                  transition: all 0.1s linear;
                  -webkit-transition: all 0.1s linear;
                  &.active {
                    right: 0;
                  }
                  > div {
                    width: 240px;
                    > .Cover {
                      width: 100%;
                      position: relative;
                      padding-bottom: 56.25%;
                      overflow: hidden;
                    }
                    > span {
                      font-size: 14px;
                      line-height: 20px;
                      margin-top: 10px;
                      color: #fff;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 2;
                    }
                    > a {
                      display: block;
                      text-align: center;
                      line-height: 40px;
                      background: #ccc;
                      color: #fff;
                      font-size: 14px;
                      border-radius: 4px;
                      margin-top: 20px;
                      user-select: none;
                      &.active {
                        background: #e2041b;
                      }
                    }
                  }
                  > a {
                    display: inline-block;
                    position: absolute;
                    left: -60px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.6);
                    border-radius: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    font-size: 14px;
                    color: #fff;
                    user-select: none;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
                    &:hover {
                      background: #f3041d;
                    }
                  }
                }
              }
            }
          }
        }
        .BottomInfo {
          width: 100%;
          position: relative;
          overflow: visible;
          align-items: center;
          padding: 5px 0;
          > a {
            margin-left: 20px;
            background: #111;
            padding: 0 15px;
            border-radius: 30px;
            user-select: none;
            > * {
              font-size: 16px;
              color: #999;
              line-height: 30px;
            }
            > i {
              margin-right: 5px;
              font-size: 18px;
            }
            &:hover {
              > * {
                color: #e2041b;
              }
            }
            &.Collect {
              &:hover {
                > * {
                  color: #999;
                }
              }
              &.active {
                &:hover {
                  > * {
                    color: #e2041b;
                  }
                }
              }
            }
            &.active {
              > * {
                color: #e2041b;
              }
            }
            &.AddTo {
              position: relative;
              overflow: visible;
            }
          }
        }
      }
      .PlayerRecommend {
        width: 24%;
        position: relative;
        overflow: hidden;
        margin-left: 10px;
        .NextVideoTitle {
          display: block;
          font-size: 20px;
          font-weight: bold;
          color: #999;
          line-height: 60px;
        }
        > .Title {
          align-items: center;
          > span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 30px;
            line-height: 40px;
            color: #fff;
            margin-right: 10px;
          }
          > a {
            width: 95px;
            text-align: center;
            white-space: nowrap;
            font-size: 0;
            background: #ccc;
            border-radius: 5px;
            &.active {
              background: #e2041b;
              &:hover {
                background: #f3041d;
              }
            }
            * {
              display: inline-block;
              vertical-align: middle;
              font-size: 12px;
              color: #fff;
              line-height: 32px;
            }
            i {
              margin-right: 5px;
            }
          }
        }
        > span {
          width: 100%;
          display: block;
          font-size: 18px;
          font-weight: bold;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;
        }
        > .flex-item {
          position: relative;
          overflow: hidden;
          > div {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
          }
        }
      }
    }
    .VideoMoreInfo {
      margin-top: 20px;
    }
    .RecommendAndComment {
      margin: 0 auto;
      position: relative;
      overflow: visible;
      align-items: flex-start;
      z-index: 1;
      > .flex-item {
        position: relative;
        overflow: visible;
        .CommentListContainer {
          margin-top: 25px;
        }
      }
      .HotList {
        width: 24%;
        margin-left: 30px;
        position: relative;
        overflow: hidden;
        > .Title {
          align-items: center;
          padding: 15px 0;
          margin-top: 10px;
          > span {
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
          }
          > a {
            font-size: 10px;
            color: #888;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .EditFolderPopupContent {
      position: relative;
      overflow: hidden;
      padding-bottom: 10px;
      > span {
        width: 100%;
        display: block;
        color: #999;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        em {
          color: #e2041b;
        }
      }
      > div {
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #999;
        border-radius: 5px;
        margin-top: 10px;
        > div {
          margin-right: 10px;
          margin-left: 10px;
          > input {
            width: 100%;
            display: block;
            font-size: 14px;
            color: #999;
            line-height: 22px;
            padding: 10px 0;
            border: none;
            background: none;
          }
          > textarea {
            width: 100%;
            display: block;
            font-size: 14px;
            color: #999;
            line-height: 22px;
            background: none;
          }
        }
        > span {
          font-size: 14px;
          color: #999;
          line-height: 40px;
          margin-right: 10px;
        }
      }
    }
  }
  .ErrorContainer {
    width: calc(100% - 200px);
    min-width: 1000px;
    margin: 68px auto 0;
    padding-bottom: 30px;
    position: relative;
    overflow: visible;
  }
  .AddToPopupContent {
    width: 100%;
    height: 300px;
    ul {
      > li {
        padding: 10px;
        align-items: center;
        border-top: 1px solid #333;
        user-select: none;
        &:hover {
          background: #333;
          cursor: pointer;
        }
        &:first-child {
          border: none;
        }
        > * {
          margin-left: 5px;
          color: #999;
          &:first-child {
            margin-left: 0;
          }
        }
        > i {
          font-size: 16px;
          &.active {
            color: #e2041b;
          }
        }
        > span {
          font-size: 14px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .ShowCanNotPay {
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    > div {
      width: 480px;
      padding: 30px;
      background: #222;
      border-radius: 8px;
      > .Title {
        align-items: center;
        position: relative;
        z-index: 1;
        > span {
          font-size: 22px;
          font-weight: bold;
          color: #999;
          line-height: 30px;
        }
        > a {
          font-size: 20px;
          color: #666;
          user-select: none;
          line-height: 30px;
          display: inline-block;
          &:hover {
            color: #fff;
          }
        }
      }
      > .Content {
        position: relative;
        overflow: hidden;
        font-size: 0;
        z-index: 2;
        > div {
          &:first-child {
            font-size: 0;
            white-space: nowrap;
            > span {
              display: inline-block;
              vertical-align: middle;
              font-size: 14px;
              font-weight: bold;
              color: #999;
              line-height: 30px;
            }
            > a {
              display: inline-block;
              vertical-align: middle;
              font-size: 14px;
              font-weight: bold;
              line-height: 30px;
              color: #409eff;
              margin-left: 5px;
            }
          }
          &.flex-h {
            margin-top: 10px;
            > .Img {
              width: 200px;
              position: relative;
              overflow: hidden;
              margin-right: 20px;
              > div {
                width: 100%;
                padding-bottom: 56.25%;
                position: relative;
                overflow: hidden;
                background: #ccc;
              }
            }
            > .flex-item {
              > span {
                display: block;
                line-height: 20px;
                font-size: 14px;
                &:nth-child(1) {
                  color: #999;
                  line-height: 20px;
                  word-break: break-all;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                }
                &:nth-child(2) {
                  color: #e2041b;
                  font-weight: bold;
                }
              }
              > a {
                width: 120px;
                display: block;
                text-align: center;
                font-size: 14px;
                color: #fff;
                background: #ccc;
                border-radius: 4px;
                line-height: 36px;
                user-select: none;
                &.active {
                  background: #e2041b;
                }
              }
            }
          }
        }
      }
    }
  }
}
